<footer id="myFooter">
	<div class="container">
			<p class="footer-copyright"><i class="fa fa-copyright" aria-hidden="true"></i> &nbsp; CMPE 280 Group 1</p>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- <script src="/javascripts/jquery-1.10.2.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap-notify.js"></script>
<script src="/javascripts/slider.js"></script>
<script src="/javascripts/bootstrap-timepicker.min.js"></script>