<footer class="navbar-fixed-bottom">
	<div class="container">
		<p class="text-muted">Place sticky footer content here.</p>
	</div>
</footer>


<script src="/javascripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/javascripts/slider.js"></script>