Skip to content
This repository
Search
Pull requests
Issues
Gist
 @MingxiaoGuo
 Sign out
 Unwatch 5
  Star 1
  Fork 0 MingxiaoGuo/CMPE280_project Private
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathCMPE280_project/public/stylesheets/style.css
2991a69  18 minutes ago
@wangjueolivia wangjueolivia updated style
3 contributors @MingxiaoGuo @wangjueolivia @ElaineMa4
RawBlameHistory     
272 lines (231 sloc)  4.42 KB
/***************************************************/
/******************** override *********************/
/***************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
  font-family:  "Open Sans";
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 400;
  margin: 30px 0 15px;
}

h1, .h1 {
  font-size: 3.2em;
}

h2, .h2 {
  font-size: 2.6em;
}

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}

h5, .h5 {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.4em;
}

/***************************************************/
/******************** text style *******************/
/***************************************************/
.text-muted {
  color: #DDDDDD;
}

.text-primary, .text-primary:hover {
  color: #427C89;
}

.text-info, .text-info:hover {
  color: #3091B2;
}

.text-success, .text-success:hover {
  color: #42A084;
}

.text-warning, .text-warning:hover {
  color: #BB992F;
}

.text-danger, .text-danger:hover {
  color: #B33C12;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/***************************************************/
/******************* input style *******************/
/***************************************************/
.input-group-addon {
  background-color: #fffcf5;
  border: medium none;
  border-radius: 4px;
  border: solid 1px #FFFFBB;
}

.border-input .input-group-addon {
  border: solid 1px #CCC5B9; }

.input-group {
  margin-top: 5px;
  margin-bottom: 5px; }

.input-group[disabled] .input-group-addon {
  background-color: #E3E3E3; }



/***************************************************/
/*********************  footer  ********************/
/***************************************************/
#myFooter {

    height: 60px;

}

#bottomFooter {
    border-top: 1px solid;
    border-top-color: #979797;

  text-align: right;
}
 #footerIcon  {
  width:60px;
  height: 50px;
  float: right;
}

/***************************************************/
/****************** form control *******************/
/***************************************************/
.form-control {
  background-color: #fffcf5;
  border: medium none;
  border-radius: 4px;
  color: #66615b;
  font-size: 14px;
  transition: background-color 0.3s ease 0s;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control.border-input {
  border: 1px solid #CCC5B9;
}
.form-control.border-input[type="text"] {
  font-size:16px;
  font-family: 'Raleway', sans-serif;
}

/* newRes.html */

img.cover{
  object-fit: cover;
  width:100%;
  height:180px;

}
#ownsub{
  margin-top: 20px;
}
.openings{
  margin:20px;
  float: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0, 0, 0, 0.19);
}
.newResImage:hover{
  transform: scale(1.4);
  transition: all 1s ease-in-out;
}
.openings img{
  height: 240px;
  width: 100%;
  padding:10;
}

.words {
  font-size: 12px;
}
.newName {
  font-size: 22px;
}
.newCategory {
  font-size: 12px;
  color:#FFAE33;
}
.newName:hover{
  color: #68B3C8;
}
/* newRes.html end*/

/* navbar */
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar li { color: #000 }

.panel-body {
  background-color: #F0F0F5;
}
/*searchResult.html*/
#restaurantNum{
  margin-left: 80px;
  margin-right: 80px;
}
#restaurantNum:hover {
  transform: scale(1.05);
  transition: all 0.5s linear;
}
.restaurantName i {
  color: #FF337A;
}

/* index.html */

.myIndexContainer {
  margin-top: 250px;
}
/*.myIndexContainer .row span {
  text-align: center;
}*/
/* index.html end*/

@keyframes myheartanimation {
  0% {
   transform: scale(1) rotate(0deg);
  }
  25% {
   transform: scale(1.3) rotate(30deg);
  }
  50% {
   transform: scale(1) rotate(0deg);
  }
  75% {
   transform: scale(1.3) rotate(-30deg);
  }
  100% {
   transform: scale(1);
  }
}
/*searResult.html end*/

.navbar-fixed-bottom {
  margin-bottom: 20px;
}
/*logo*/
#logo{
  padding-top: 8px;
  width: 140px;
  height: 80px;
  background-color:transparent;
}

/* restDetail */
#map {
  width: 400px;
  height: 240px;
  margin-top: 20px;
}
#ownsub{
  font-size: 30px;
}
.restInfo {

}
.comments{
  margin: 10px 50px 0 50px;
}