<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <style>

  video #bgvid {
    position: fixed; right: 0; bottom: 0;
    /*// min-width: 100%; min-height: 100%;*/
    width: auto;
    height: auto;
    z-index: -100;
    /*<!-- // background: url(normalbg.jpg) no-repeat; -->*/
    background-size: cover;
  }

  </style>
</head>

<body>
  <% include ../partials/nav %>
  <video autoplay loop  id="bgvid">
    <source src="video/background.mp4" type="video/mp4">
    </video>




    <% include ../partials/footer%>
  </body>

  </html>
