<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body class="aboutBody">
  <% include ../partials/indexNav %>
  <div class = "container">
   <div class = "row col-md-6 col-md-offset-4 col-lg-5 col-lg-offset-8">
      <div class ="AboutUs animated swing">
       <div class = "content" style = "padding:20px;">
        <h1 style = "text-align: center; font-family: 'Antic Slab', serif;">About Us</h1>
        <div>
          <h3 style = "font-family: 'Alef';">This site aims to help people find great Chinese restaurants in Bay area.</h3>
        </div>
        <br>
        <div class="aboutULDiv" style ="font-family: 'Alef';font-size: 14px;">
          <h3 >Features of this project:</h3>
          <ul><b>Search Box</b> - Surpported searching based on name and location.</ul>
          <ul><b>Database Connection</b> - All the restaurants information are fetched from firebase</ul>
          <ul><b>Customized Style</b> - Style and animation inspired from the class lectures</ul>
          <ul><b>UI & UX Design</b> - We designed our own style and drawn our logo and footer</ul>
          <ul><b>Tech Involved</b> - HTML, CSS, Javascript, BootStrap, NodeJs, firebase, googleMap API</ul>
        </div>
       </div>
        <div style = "padding:20px;" >
          <h1 style = "font-family: 'Antic Slab', serif; text-align:center;" >Contacts:</h1>
          <div style = "font-family: 'Aladin', cursive;font-size: 20px;">
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;<span>1 Washington Sq, San Jose, CA 95192</span>
            <br>
            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;<span>123-456-6785</span>
          </div>
        </div>
      </div>
    </div>
 </div>
  </body>

  </html>
