<!-- Start about-us -->
<section class="our-activities section section-white about-us">
  <!-- Start container -->
  <div class="container">
    <!-- Start row -->
    <div class="row">
      <!-- Start col -->
      <div class="col-xs-12">
        <!-- Start section-header -->
        <div class="section-header section-header-light">
          <h2>ABOUT RESORT</h2>
          <p>We provide the most luxurious services</p>
        </div>
        <!-- End section-header -->
      </div>
      <!-- End col -->
    </div>
    <!-- End row -->

    <!-- Start row -->
    <div class="row">
      <!-- Start col -->
      <div class="col-xs-12">
        <p class="about-us-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse id illo laboriosam magnam odio quis, suscipit voluptatibus. Doloremque expedita hic ipsam iusto natus neque quidem. Culpa earum eum, harum hic molestiae nemo quod ut! Adipisci aliquid
          asperiores commodi, cumque, dolor dolore dolores dolorum eaque exercitationem fugit harum hic id molestias natus nesciunt nisi odio pariatur perferendis placeat reiciendis repudiandae sed sequi sint unde vero? Ad architecto, dolore est exercitationem
          iusto laudantium nihil odit possimus qui quibusdam saepe vero voluptatem.
        </p>
      </div>
      <!-- End col -->
    </div>
    <!-- End row -->

    <!-- Start more-btn-container -->
    <div class="more-btn-gp">
      <!-- Start book-now -->
      <a href="#" class="custom-btn custom-btn-light">
        <i class="top-border"></i>
        <i class="left-border"></i>
        <span>View All</span>
        <i class="right-border"></i>
        <i class="bottom-border"></i>
      </a>
      <!-- End book-now -->
    </div>
    <!-- End more-btn-container -->
  </div>
  <!-- End container -->
</section>
<!-- End about-us -->
