<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/nav %>
			<div class="container">
				<div class="row">
					<div class="jumbotron">
						<div class="card">
		          <div class="header">
		            <h4 class="title">Add Restaurant</h4>
		          </div>
		          <div class="content">
		            <!-- <form> -->
		              <div class="row">
		                <div class="col-md-5">
		                  <div class="form-group">
	                      <label>Name</label>
	                      <input type="text" class="form-control border-input" id="idName" required="true" placeholder="Restaurant Name">
		                  </div>
		                </div>
		                <div class="col-md-2">
		                  <div class="form-group">
	                      <label>Category</label>
	                      <select class="form-control border-input" id="categorySelector">
	                      	<% for (var i = 0; i < categoryList.length; i++) { %>
														<option><%= categoryList[i] %></option>
	                      	<% } %>
	                      </select>
		                  </div>
		                </div>
										<div class="col-md-2">
											<div class="form-group">
												<label>Region</label>
												<select class="form-control border-input" id="regionSelector">
													<% for (var i = 0; i < regionList.length; i++) { %>
														<option><%= regionList[i] %></option>
													<% } %>
												</select>
											</div>
										</div>
		              	<div class="col-md-3">
		                  <div class="form-group">
		                    <label>Phone</label>
		                    <input type="text" class="form-control border-input" id="idPhone" required="true" placeholder="Phone">
		                  </div>
		                </div>
		              </div>

		              <div class="row">
		                <div class="col-md-12">
		                  <div class="form-group">
		                    <label>Address</label>
		                    <input type="text" class="form-control border-input" id="idAddress" required="true" placeholder="Address">
		                  </div>
		                </div>
		              </div>

		              <div class="row">
		                <div class="col-md-4">
		                  <div class="form-group">
		                    <label>City</label>
		                    <input type="text" class="form-control border-input" id="idCity" required="true" placeholder="City">
		                  </div>
		                </div>
		                <div class="col-md-4">
		                  <div class="form-group">
		                    <label>State</label>
		                    <input type="text" class="form-control border-input" id="idState" required="true" placeholder="State">
		                  </div>
		                </div>
		                <div class="col-md-4">
		                  <div class="form-group">
		                    <label>Zip Code</label>
		                    <input type="number" class="form-control border-input" id="idZip" required="true"  placeholder="ZIP Code">
		                  </div>
		                </div>
		              </div>
									<hr>
		              <div class="row"> <!-- open hours -->
										<div class="col-md-2"> <!-- monday -->
											<label>Monday</label>&nbsp;
											<button class="btn btn-warning btn-xs myBtnClose">close</button>
											<button class="btn btn-success btn-xs myBtnOpen hidden">Open</button>
											<div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerMon1" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
							        <br>
							        <div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerMon2" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
										</div> <!-- end monday-->
										<div class="col-md-2"> <!-- Tuesday -->
											<label>Tuesday</label>&nbsp;<button class="btn btn-warning btn-xs myBtnClose">close</button>
											<button class="btn btn-success btn-xs myBtnOpen hidden">Open</button>
											<div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerTue1" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
							        <br>
							        <div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerTue2" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
										</div> <!-- end Tuesday-->
										<div class="col-md-2"> <!-- Wednesday -->
											<label>Wednesday</label>&nbsp;<button class="btn btn-warning btn-xs myBtnClose">close</button>
											<button class="btn btn-success btn-xs myBtnOpen hidden">Open</button>
											<div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerWed1" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
							        <br>
							        <div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerWed2" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
										</div> <!-- end Wednesday-->
										<div class="col-md-2"> <!-- Thursday -->
											<label>Thursday</label>&nbsp;<button class="btn btn-warning btn-xs myBtnClose">close</button>
											<button class="btn btn-success btn-xs myBtnOpen hidden">Open</button>
											<div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerThu1" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
							        <br>
							        <div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerThu2" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
										</div> <!-- end Thursday-->
										<div class="col-md-2"> <!-- Friday -->
											<label>Friday</label>&nbsp;
											<button class="btn btn-warning btn-xs myBtnClose">close</button>
											<button class="btn btn-success btn-xs myBtnOpen hidden">Open</button>
											<div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerFri1" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
							        <br>
							        <div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerFri2" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
										</div> <!-- end Friday-->
										<div class="col-md-2"> <!-- Saturday -->
											<label>Saturday</label>&nbsp;<button class="btn btn-warning btn-xs myBtnClose">close</button>
											<button class="btn btn-success btn-xs myBtnOpen hidden">Open</button>
											<div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerSat1" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
							        <br>
							        <div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerSat2" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
										</div> <!-- end Saturday-->
										<div class="col-md-2"> <!-- Sunday -->
											<label>Sunday</label>&nbsp;<button class="btn btn-warning btn-xs myBtnClose">close</button>
											<button class="btn btn-success btn-xs myBtnOpen hidden">Open</button>
											<div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerSun1" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
							        <br>
							        <div class="input-group bootstrap-timepicker timepicker">
						            <input id="timepickerSun2" type="text" class="form-control input-small">
						            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							        </div>
										</div> <!-- end Sunday-->
		              </div> <!-- end open hours -->
									<hr>
									<div class="row">
										<div class="col-md-12">
	                    <div class="form-group">
	                        <label>Description</label>
	                        <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" id="idDescription"></textarea>
	                    </div>
	                  </div>
									</div>
		              <div class="text-center">
		                <button type="button" class="btn btn-info" id="btnCreateRes">Create Restaurant</button>
		              </div>
		              <!-- <div class="clearfix"></div> -->
		            <!-- </form> -->
		          </div>
		        </div> <!-- end card -->
					</div> <!-- end jumbotron -->
				</div>
			</div>
		<% include ../partials/footer%>
	  <script type="text/javascript">
	    $(document).ready(function(){
	    	// init timepicker
		    $('#timepickerMon1').timepicker();
		    $('#timepickerMon2').timepicker();
		    $('#timepickerTue1').timepicker();
		    $('#timepickerTue2').timepicker();
		    $('#timepickerWed1').timepicker();
		    $('#timepickerWed2').timepicker();
		    $('#timepickerThu1').timepicker();
		    $('#timepickerThu2').timepicker();
		    $('#timepickerFri1').timepicker();
		    $('#timepickerFri2').timepicker();
		    $('#timepickerSat1').timepicker();
		    $('#timepickerSat2').timepicker();
		    $('#timepickerSun1').timepicker();
		    $('#timepickerSun2').timepicker();
				// on-click listener for creating restaurant
		    $("#btnCreateRes").on("click", function () {
		    	console.log('click');
		    	var name = $("#idName").val();
		    	var category = $("#categorySelector option:selected").val();
					var region = $("#regionSelector option:selected").val();
		    	var phone = $("#idPhone").val();
		    	var address = $("#idAddress").val();
		    	var city = $("#idCity").val();
		    	var state = $("#idState").val();
		    	var zip = $("#idZip").val();
		    	var description = $("#idDescription").val();

		    	if (name == "" || category == "" || phone == "" || address == "" || city == "" || state == "" || zip == "") {
		    		showNotification("top", "center", "warning", "please fill all blanks");
		    		return;
		    	}

		    	// open hours
		    	// Monday
		    	if ($("#timepickerMon1").is(':disabled')) {
		    		var openMon = "close";
		    		var closeMon = "close";
		    	} else {
		    		openMon = $("#timepickerMon1").val();
		    		closeMon = $("#timepickerMon2").val();
		    	}
					// Tuesday
		    	if ($("#timepickerTue1").is(':disabled')) {
						var openTue = "close";
			    	var closeTue = "close";
		    	} else {
		    		openTue = $("#timepickerTue1").val();
		    		closeTue = $("#timepickerTue2").val();
		    	}
					// Wednesday
		    	if ($("#timepickerWed1").is(':disabled')) {
						var openWed = "close";
			    	var closeWed = "close";
		    	} else {
		    		openWed = $("#timepickerWed1").val();
		    		closeWed = $("#timepickerWed2").val();
		    	}
					// Thursday
		    	if ($("#timepickerThu1").is(':disabled')) {
						var openThu = "close";
			    	var closeThu = "close";
		    	} else {
		    		openThu = $("#timepickerThu1").val();
		    		closeThu = $("#timepickerThu2").val();
		    	}
					// Friday
		    	if ($("#timepickerFri1").is(':disabled')) {
						var openFri = "close";
			    	var closeFri = "close";
		    	} else {
		    		openFri = $("#timepickerFri1").val();
		    		closeFri = $("#timepickerFri2").val();
		    	}
					// Monday
		    	if ($("#timepickerSat1").is(':disabled')) {
						var openSat = "close";
			    	var closeSat = "close";
		    	} else {
		    		openSat = $("#timepickerSat1").val();
		    		closeSat = $("#timepickerSat2").val();
		    	}
					// Satureday
		    	if ($("#timepickerSun1").is(':disabled')) {
						var openSun = "close";
			    	var closeSun = "close";
		    	} else {
		    		openSun = $("#timepickerSun1").val();
		    		closeSun = $("#timepickerSun2").val();
		    	}
					// Sunday
		    	if (openMon == "" || closeMon == "" || openTue == "" || closeTue == "" || openWed == "" || closeWed == "" || openThu == "" || closeThu == "" || openFri == "" || closeFri == "" || openSat == "" || closeSat == "" || openSun == "" || closeSun == "") {
		    		showNotification("top", "center", "warning", "please fill all blanks");
		    		return;
		    	}

	/*	    	var openHours = {
		    		"Monday": [openMon, closeMon],
		    		"Tuesday": [openTue, closeTue],
		    		"Wednesday": [openWed, closeWed],
		    		"Thursday": [openThu, closeThu],
		    		"Friday": [openFri, closeFri],
		    		"Saturday": [openSat, closeSat]
		    	}*/

	/*	    	var openHours1 = [
		    		[openMon, closeMon],
		    		[openTue, closeTue],
		    		[openWed, closeWed],
		    		[openThu, closeThu],
		    		[openFri, closeFri],
		    		[openSat, closeSat]
		    	]*/

	/*	    	var openHours = [
		    		{"Monday" : [openMon, closeMon]},
		    		{"Tuesday": [openTue, closeTue]},
		    		{"Wednesday": [openWed, closeWed]},
		    		{"Thursday": [openThu, closeThu]},
		    		{"Friday": [openFri, closeFri]},
		    		{"Saturday": [openSat, closeSat]}
		    	];*/

	/*	    	var openHours = [
		    		openMon, closeMon, openTue, closeTue, openWed, closeWed, openThu, closeThu, openFri, closeFri, openSat, closeSat,
		    	];*/

		    	// var monday = {
		    	// 	openMon : true,
		    	// 	closeMon: true
		    	// };

		    	// var tuesday = {
		    	// 	openTue : true,
		    	// 	closeTue: true
		    	// };

		    	// var wednesday = {
		    	// 	openWed : true,
		    	// 	closeWed: true
		    	// };

		    	// var thursday = {
		    	// 	openThu : true,
		    	// 	closeThu: true
		    	// };

	    	 //  var friday = {
		    	// 	openFri : true,
		    	// 	closeFri: true
		    	// };

		    	// var saturday = {
		    	// 	openSat : true,
		    	// 	closeSat: true
		    	// };

		    	// var sunday = {
		    	// 	openSun : true,
		    	// 	closeSun: true
		    	// };

		    	// console.log(openHours);

		    	var data = {
		    		name : name,
		    		category : category,
						region: region,
		    		phone: phone,
		    		address: address + ", " + city + ", " + state + zip,
		    		description: description,
		    		monday_open : openMon,
		    		monday_close : closeMon,
		    		tuesday_open : openTue,
		    		tuesday_close : closeTue,
		    		wednesday_open : openWed,
		    		wednesday_close : closeWed,
		    		thursday_open : openThu,
		    		thursday_close : closeThu,
		    		friday_open : openFri,
		    		friday_close : closeFri,
		    		saturday_open : openSat,
		    		saturday_close : closeSat,
		    		sunday_open : openSun,
		    		sunday_close : closeSun
		    	}

		    	console.log(data);

		    	$.post("/addRestaurant", data, function (res) {
		    		if (res.done) {
		    			showNotification("top", "center", "info", "Your restaurant is online!!!");
		    		} else {
		    			showNotification("top", "center", "warning", "Sorry, please try again");
		    		}

		    	})
		    });

		    // on-click listener for close
		    $(".myBtnClose").on("click", function () {
		    	$(this).siblings("div").children("input").prop('disabled', true);
		    	$(this).addClass("hidden");
		    	$(this).siblings("button").removeClass("hidden");
		    });
				// on-click listener for open
		    $(".myBtnOpen").on("click", function () {
		    	$(this).siblings("div").children("input").prop('disabled', false);
		    	$(this).addClass("hidden");
		    	$(this).siblings("button").removeClass("hidden");
		    });

		    // show notification
		    function showNotification(from, align, type, message){

					$.notify({
				    	icon: "ti-gift",
				    	message: message
				    },{
				        type: "warning",
				        timer: 4000,
				        placement: {
				            from: from,
				            align: align
				        }
				    });
				}

	    });
	  </script>
	</body>
</html>
