<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/nav %>
		<div class="container">
			<div class="ui rating" data-rating="3" data-max-rating="5"></div>
			<div>
				<div class="ui form">
					<div class="field">
				    <label>Short Text</label>
				    <textarea rows="2" id="comment"></textarea>
				  </div>
				</div>
				<button class="btn btn-primary" id="btnSubmit">submit</button>
			</div>

	  </div><!-- end container -->
		<% include ../partials/footer %>
		<script>
			$(document).ready(function () {
				// $(".rating").rating();

				$("#btnSubmit").on("click", function () {
					var comment = $("#comment").val();
					var data = {
						comment : comment,
						id: "some_id"
					}
					console.log(data);
					$.post("/demo/addComments", data, function (result) {

					});
				})
			})
		</script>
	</body>
</html>
