<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/nav %>
		<div class="container">
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="content">
    <div class="left">
      Content can appear on left
    </div>
    <div class="right">
      Content can appear on right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
	  </div><!-- end container -->
		<% include ../partials/footer %>
		<script>


			$(document).ready(function () {
				// $(".rating").rating();
				$('.ui.modal')
				  .modal()
				;

				
				$("#btnSubmit").on("click", function () {
					var comment = $("#comment").val();
					var data = {
						comment : comment,
						id: "some_id"
					}
					console.log(data);
					$.post("/demo/addComments", data, function (result) {

					});
				})
			})
		</script>
	</body>
</html>
