<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <video autoplay loop id="indexBackgroundVideo">
      <source src="/video/background.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="container myIndexContainer animated fadeInDownBig">
      <div class="row">
        <span style="font-family: 'Antic Slab', serif; font-size: 40px;color:white">Best Chinese Restaurant in Bay Area
        </span>
      </div>
      <br />
      <div class="row">
        <div class="ui massive icon input">
          <input type="text" placeholder="Search Restaurant..." id="txtSearch">
          <i class="inverted circular search link icon" id="btnSearch"></i>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("#btnSearch").on("click", function () {
          var searchContent = $("#txtSearch").val();
          var data = {
            content : searchContent
          }
          window.location.href = "/searchResult/" + searchContent;
          // $.get();
        })
      });
    </script>
  </body>
</html>
