<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <style>
      video#bgvid {
        position: fixed; right: 0; bottom: 0;
        /*min-width: 100%; min-height: 100%;*/
        width: 100%;
        height: auto;
        z-index: -100;
        background: url(normalbg.jpg) no-repeat;
        background-size: center;
        display: block;
      }
    </style>
  </head>
  <body>
    <% include ../partials/indexNav %>
    <video autoplay loop id="bgvid">
      <source src="/video/background.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="container myIndexContainer animated fadeInDownBig">
      <div class="row">
        <span style="font-family: 'Antic Slab', serif; font-size: 40px;color:white"><b></b>Best Chinese Restaurant in Bay Area</b>
        </span>
      </div>
      <br />
      <div class="row">
        <div class="ui massive icon input">
          <input type="text" placeholder="Search Restaurant..." id="txtSearch">
          <i class="inverted circular search link icon" id="btnSearch"></i>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("#btnSearch").on("click", function () {
          var searchContent = $("#txtSearch").val();
          var data = {
            content : searchContent
          }
          window.location.href = "/searchResult/" + searchContent;
        })
      });
    </script>
  </body>
</html>
