<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <!-- Start loader-wrapper -->
	<div id="loader-wrapper">
		<div class="sk-circle">
			<div class="sk-circle1 sk-child"></div>
			<div class="sk-circle2 sk-child"></div>
			<div class="sk-circle3 sk-child"></div>
			<div class="sk-circle4 sk-child"></div>
			<div class="sk-circle5 sk-child"></div>
			<div class="sk-circle6 sk-child"></div>
			<div class="sk-circle7 sk-child"></div>
			<div class="sk-circle8 sk-child"></div>
			<div class="sk-circle9 sk-child"></div>
			<div class="sk-circle10 sk-child"></div>
			<div class="sk-circle11 sk-child"></div>
			<div class="sk-circle12 sk-child"></div>
		</div>
		<div class="loader-section"></div>
	</div>
	<!-- End loader-wrapper -->

	<!-- Start side-nav -->
	<div class="side-nav">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li class="side-nav-dropdown">
				<a href="#">Sub links <i class="fa fa-caret-down" aria-hidden="true"></i></a>
				<ul class="side-nav-dropdown-list">
					<li><a href="#">link 1</a></li>
					<li><a href="#">link 1</a></li>
					<li><a href="#">link 1</a></li>
					<li class="side-nav-dropdown">
						<a href="#">sub2 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
						<ul class="side-nav-dropdown-list">
							<li><a href="#">link 1</a></li>
							<li><a href="#">link 1</a></li>
							<li><a href="#">link 1</a></li>
							<li><a href="#">link 1</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="#" class="quick-book-open"><i class="fa fa-calendar" aria-hidden="true"></i>BOOK NOW</a></li>
		</ul>
	</div>
	<div class="side-nav-overlay"></div>
	<!-- End side-nav -->

	<!-- Start header -->
	<header class="overlay-header">
		<!-- Start container -->
		<div class="container">
			<!-- Start row -->
			<div class="header-content">
				<!-- Start logo -->
				<a href="#" class="logo">
          <span>
            <div class="section-header">
  						<p>Our Project</p>
  					</div>
          </span>
				</a>
				<!-- End logo -->
				<!-- Start menu-area -->
				<div class="menu-area">
					<!-- Start navbar-nav -->
					<ul class="nav navbar-nav">
						<!-- Start menu li dropdown -->
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="caret"></span><span class="sr-only">(current)</span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Header Styles <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									<ul class="dropdown-menu">
										<li><a href="#">Header 01</a></li>
										<li><a href="#">Header 02</a></li>
										<li><a href="#">Header 03</a></li>
										<li><a href="#">Header 04</a></li>
									</ul>
								</li>
								<li>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Footer Styles <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									<ul class="dropdown-menu">
										<li><a href="#">Footer 01</a></li>
										<li><a href="#">Footer 02</a></li>
										<li><a href="#">Footer 03</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Home Onepage</a>
								</li>
								<li>
									<a href="#">All Home Sections</a>
								</li>
								<li>
									<a href="#">All Home Sections RTL</a>
								</li>
								<li>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Second Level <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									<ul class="dropdown-menu">
										<li>
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Third Level<i class="fa fa-caret-right" aria-hidden="true"></i></a>
											<ul class="dropdown-menu">
												<li><a href="#">Link 1</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<!-- End menu li dropdown -->
						<!-- Start menu li dropdown -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Our Services</a>
								</li>
								<li>
									<a href="#">About Us</a>
								</li>
								<li>
									<a href="#">Our Products</a>
								</li>
							</ul>
						</li>
						<!-- End menu li dropdown -->
						<li>
							<a href="#">Contact Us</a>
						</li>
					</ul>
					<!-- End navbar-nav -->

					<!-- Start book-now -->
					<a href="#" class="custom-btn book-now quick-book-open">
						<i class="top-border"></i>
						<i class="left-border"></i>
						<span><i class="fa fa-calendar" aria-hidden="true"></i>BOOK NOW</span>
						<i class="right-border"></i>
						<i class="bottom-border"></i>
					</a>
					<!-- End book-now -->
					<a href="#" class="open-mobile-menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
				</div>
				<!-- End menu-area -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</header>
	<!-- End header -->

	<!-- Start quick-booking -->
	<section class="quick-booking">
		<!-- Start overlay -->
		<div class="overlay overlay-hugeinc">
			<button class="overlay-close" type="button"><i class="fa fa-times"></i></button>
			<!-- Start simform -->
			<form autocomplete="off" class="simform" id="theForm" name="theForm">
				<!-- Start simform-inner -->
				<div class="simform-inner">
					<h1>Check Availability</h1>
					<h3>You will receive an email when the reservation has been confirmed.</h3>
					<!-- Start questions-wrapper -->
					<div class="questions-wrapper">
						<!-- Start questions -->
						<ol class="questions">
							<li><span><label for="q1">First and Last Name?</label></span> <input id="q1" name="q1" type="text"></li>
							<li><span><label for="q2">Email?</label></span> <input data-validate="email" id="q2" name="q2" type="text"></li>
							<li><span><label for="q3">Arrival?</label></span> <input id="q3" class="date" name="date" placeholder="MM/DD/YYY" type="text"></li>
							<li><span><label for="q4">Departure?</label></span> <input id="q4" class="date" name="date" placeholder="MM/DD/YYY" type="text"></li>
							<li><span><label for="q5">How many adults?</label></span> <input id="q5" name="q5" type="text"></li>
							<li><span><label for="q6">How many children?</label></span> <input id="q6" name="q6" type="text"></li>
							<li><span><label for="q7">Type of Room?</label></span> <input id="q7" name="q7" type="text"></li>
							<li><span><label for="q8">Special Requests?</label></span> <input id="q8" name="q8" type="text"></li>
						</ol>
						<!-- End questions -->
						<button class="submit" type="submit">Send answers</button>
						<!-- Start controls -->
						<div class="controls">
							<button class="res-next"></button>
							<div class="progress"></div>
							<span class="number"><span class="number-current"></span> <span class="number-total"></span></span> <span class="error-message"></span>
						</div>
						<!-- End controls -->
					</div>
					<!-- End questions-wrapper -->
				</div>
				<!-- End simform-inner -->
				<span class="final-message"></span>
			</form>
			<!-- End simform -->
		</div>
		<!-- End overlay -->
	</section>
	<!-- End quick-booking -->

	<!-- Start slider -->
	<section class="slider full-window-height">
		<!-- Start owl-slider -->
		<div id="owl-slider" class="owl-carousel">

			<!-- Start item -->
			<div class="item">
				<!-- Start owl-slider-block -->
				<div class="owl-slider-block dark-image" style="background-image:url(images/slider/1.jpg);">
					<!-- Start owl-slider-overlay -->
					<div class="owl-slider-overlay">
						<!-- Start container -->
						<div class="container">
							<!-- Start owl-caption -->
							<div class="owl-caption">
								<h2 data-aos="fade-right" data-aos-delay="100">OnCloud Resort</h2>
								<h1 data-aos="fade-left" data-aos-delay="200">WELCOME TO OUR LUXURY LIFE</h1>
								<h5 data-aos="fade-right" data-aos-delay="300">ENJOY OUR WORLD RENOWNED SPA, OR GET OUT FOR A CRYSTAL CLEAR SWIM</h5>
								<!-- Start more-btn-container -->
								<div class="more-btn-container" data-aos="fade-up" data-aos-delay="300">
									<!-- Start book-now -->
									<a href="#" class="custom-btn owl-slider-book">
										<i class="top-border"></i>
										<i class="left-border"></i>
										<span><i class="fa fa-calendar" aria-hidden="true"></i>BOOK NOW</span>
										<i class="right-border"></i>
										<i class="bottom-border"></i>
									</a>
									<!-- End book-now -->
								</div>
								<!-- End more-btn-container -->
							</div>
							<!-- End owl-caption -->
						</div>
						<!-- End container -->
					</div>
					<!-- End owl-slider-overlay -->
				</div>
				<!-- End owl-slider-block -->
			</div>
			<!-- End item -->
			<!-- Start item -->
			<div class="item">
				<!-- Start owl-slider-block -->
				<div class="owl-slider-block" style="background-image:url(images/slider/4.jpg);">
					<!-- Start owl-slider-overlay -->
					<div class="owl-slider-overlay">
						<!-- Start container -->
						<div class="container">
							<!-- Start owl-caption -->
							<div class="owl-caption">
								<h2 data-aos="fade-right" data-aos-delay="100">OnCloud Resort</h2>
								<h1 data-aos="fade-left" data-aos-delay="200">WELCOME TO OUR LUXURY LIFE</h1>
								<h5 data-aos="fade-right" data-aos-delay="300">ENJOY OUR WORLD RENOWNED SPA, OR GET OUT FOR A CRYSTAL CLEAR SWIM</h5>
								<!-- Start more-btn-container -->
								<div class="more-btn-container" data-aos="fade-up" data-aos-delay="300">
									<!-- Start book-now -->
									<a href="#" class="custom-btn owl-slider-book">
										<i class="top-border"></i>
										<i class="left-border"></i>
										<span><i class="fa fa-calendar" aria-hidden="true"></i>BOOK NOW</span>
										<i class="right-border"></i>
										<i class="bottom-border"></i>
									</a>
									<!-- End book-now -->
								</div>
								<!-- End more-btn-container -->
							</div>
							<!-- End owl-caption -->
						</div>
						<!-- End container -->
					</div>
					<!-- End owl-slider-overlay -->
				</div>
				<!-- End owl-slider-block -->
			</div>
			<!-- End item -->
			<!-- Start item -->
			<div class="item">
				<!-- Start owl-slider-block -->
				<div class="owl-slider-block" style="background-image:url(images/slider/3.jpg);">
					<!-- Start owl-slider-overlay -->
					<div class="owl-slider-overlay">
						<!-- Start container -->
						<div class="container">
							<!-- Start owl-caption -->
							<div class="owl-caption">
								<h2 data-aos="fade-right" data-aos-delay="100">OnCloud Resort</h2>
								<h1 data-aos="fade-left" data-aos-delay="200">WELCOME TO OUR LUXURY LIFE</h1>
								<h5 data-aos="fade-right" data-aos-delay="300">ENJOY OUR WORLD RENOWNED SPA, OR GET OUT FOR A CRYSTAL CLEAR SWIM</h5>
								<!-- Start more-btn-container -->
								<div class="more-btn-container" data-aos="fade-up" data-aos-delay="300">
									<!-- Start book-now -->
									<a href="#" class="custom-btn owl-slider-book">
										<i class="top-border"></i>
										<i class="left-border"></i>
										<span><i class="fa fa-calendar" aria-hidden="true"></i>BOOK NOW</span>
										<i class="right-border"></i>
										<i class="bottom-border"></i>
									</a>
									<!-- End book-now -->
								</div>
								<!-- End more-btn-container -->
							</div>
							<!-- End owl-caption -->
						</div>
						<!-- End container -->
					</div>
					<!-- End owl-slider-overlay -->
				</div>
				<!-- End owl-slider-block -->
			</div>
			<!-- End item -->
			<!-- Start item -->
			<div class="item">
				<!-- Start owl-slider-block -->
				<div class="owl-slider-block" style="background-image:url(images/slider/2.jpg);">
					<!-- Start owl-slider-overlay -->
					<div class="owl-slider-overlay">
						<!-- Start container -->
						<div class="container">
							<!-- Start owl-caption -->
							<div class="owl-caption">
								<h2 data-aos="fade-right" data-aos-delay="100">OnCloud Resort</h2>
								<h1 data-aos="fade-left" data-aos-delay="200">WELCOME TO OUR LUXURY LIFE</h1>
								<h5 data-aos="fade-right" data-aos-delay="300">ENJOY OUR WORLD RENOWNED SPA, OR GET OUT FOR A CRYSTAL CLEAR SWIM</h5>
								<!-- Start more-btn-container -->
								<div class="more-btn-container" data-aos="fade-up" data-aos-delay="300">
									<!-- Start book-now -->
									<a href="#" class="custom-btn owl-slider-book">
										<i class="top-border"></i>
										<i class="left-border"></i>
										<span><i class="fa fa-calendar" aria-hidden="true"></i>BOOK NOW</span>
										<i class="right-border"></i>
										<i class="bottom-border"></i>
									</a>
									<!-- End book-now -->
								</div>
								<!-- End more-btn-container -->
							</div>
							<!-- End owl-caption -->
						</div>
						<!-- End container -->
					</div>
					<!-- End owl-slider-overlay -->
				</div>
				<!-- End owl-slider-block -->
			</div>
			<!-- End item -->

		</div>
		<!-- End owl-slider -->
		<div class="scroll-down-gp">
			<a href="#scroll-body" class="scroll-downs">
				<div class="scroller"></div>
			</a>
		</div>
	</section>
	<!-- End slider -->
	<div id="scroll-body"></div>

	<!-- Start our-activities -->
	<section class="our-activities section section-white">
		<!-- Start container -->
		<div class="container">
			<!-- Start row -->
			<div class="row">
				<!-- Start col -->
				<div class="col-xs-12">
					<!-- Start section-header -->
					<div class="section-header section-header-light">
						<h2>OUR ACTIVITIES</h2>
						<p>We provide the most luxurious services</p>
					</div>
					<!-- End section-header -->
				</div>
				<!-- End col -->
			</div>
			<!-- End row -->

			<!-- Start  our-activities-owl-gp -->
			<div class="our-activities-owl-gp">
				<!-- Start slider arrows -->
				<div id="owl-activities-next" class="btn-next">
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</div>
				<div id="owl-activities-prev" class="btn-prev">
					<i class="fa fa-angle-left" aria-hidden="true"></i>
				</div>
				<!-- End slider arrows -->

				<!-- Start our-activities-owl -->
				<div id="our-activities-owl" class="owl-carousel">
					<!-- Start item -->
					<div class="item">
						<!-- Start our-activities-block -->
						<a href="#" class="our-activities-block">
							<div class="our-activities-caption">
								<h3>Restaurant</h3>
								<p>We have the best restaurants in our resort</p>
							</div>
							<!-- Start learn-more -->
							<div class="custom-btn">
								<i class="top-border"></i>
								<i class="left-border"></i>
								<span>LEARN MORE</span>
								<i class="right-border"></i>
								<i class="bottom-border"></i>
							</div>
							<!-- End learn-more -->
							<img src="/images/activities/1.png" alt="test" class="img-responsive">
						</a>
						<!-- End our-activities-owl-block -->
					</div>
					<!-- End item -->

					<!-- Start item -->
					<div class="item">
						<!-- Start our-activities-block -->
						<a href="#" class="our-activities-block">
							<div class="our-activities-caption">
								<h3>Beauty & Health</h3>
								<p>We have the best restaurants in our resort</p>
							</div>
							<!-- Start learn-more -->
							<div class="custom-btn">
								<i class="top-border"></i>
								<i class="left-border"></i>
								<span>LEARN MORE</span>
								<i class="right-border"></i>
								<i class="bottom-border"></i>
							</div>
							<!-- End learn-more -->
							<img src="/images/activities/2.png" alt="test" class="img-responsive">
						</a>
						<!-- End our-activities-owl-block -->
					</div>
					<!-- End item -->

					<!-- Start item -->
					<div class="item">
						<!-- Start our-activities-block -->
						<a href="#" class="our-activities-block">
							<div class="our-activities-caption">
								<h3>Swimming Pool</h3>
								<p>We have the best restaurants in our resort</p>
							</div>
							<!-- Start learn-more -->
							<div class="custom-btn">
								<i class="top-border"></i>
								<i class="left-border"></i>
								<span>LEARN MORE</span>
								<i class="right-border"></i>
								<i class="bottom-border"></i>
							</div>
							<!-- End learn-more -->
							<img src="/images/activities/3.png" alt="test" class="img-responsive">
						</a>
						<!-- End our-activities-owl-block -->
					</div>
					<!-- End item -->
				</div>
				<!-- End our-activities-owl -->
			</div>
			<!-- End our-activities-owl-gp -->

			<!-- Start more-btn-container -->
			<div class="more-btn-gp">
				<!-- Start book-now -->
				<a href="#" class="custom-btn custom-btn-light">
					<i class="top-border"></i>
					<i class="left-border"></i>
					<span>View All</span>
					<i class="right-border"></i>
					<i class="bottom-border"></i>
				</a>
				<!-- End book-now -->
			</div>
			<!-- End more-btn-container -->
		</div>
		<!-- End container -->
	</section>
	<!-- End our-activities -->

	<!-- Start available-room -->
	<section class="available-room section">
		<!-- Start container -->
		<div class="container">
			<!-- Start row -->
			<div class="row">
				<!-- Start col -->
				<div class="col-xs-12">
					<!-- Start section-header-gp -->
					<div class="section-header-gp">
						<!-- Start section-header -->
						<div class="section-header">
							<h2>AVAILABLE ROOMS</h2>
							<p>When you want to be our guest?</p>
						</div>
						<!-- End section-header -->
						<!-- Start book-now -->
						<div class="custom-btn owl-available-room">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<div class="custom-btn-arrows">
								<div id="owl-available-room-prev" class="top-btn-prev">
									<i class="fa fa-angle-left" aria-hidden="true"></i>
								</div>
								<div id="owl-available-room-next" class="top-btn-next">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</div>
							</div>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End book-now -->
					</div>
					<!-- End section-header-gp -->
				</div>
				<!-- End col -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
		<!--Start available-room-owl -->
		<div id="available-room-owl" class="owl-carousel">
			<!-- Start Item -->
			<div class="item">
				<!-- Start available-room-block -->
				<a href="#" class="available-room-block" style="background-image: url('images/rooms/1.jpg');">
					<span><strong>€829</strong>Per Night</span>
					<div class="available-room-caption">
						<h3>Rouyal Suit</h3>
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span>BOOK NOW</span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
					</div>
				</a>
				<!-- End available-room-block -->
			</div>
			<!-- End Item -->

			<!-- Start Item -->
			<div class="item">
				<!-- Start available-room-block -->
				<a href="#" class="available-room-block" style="background-image: url('images/rooms/2.jpg');">
					<span><strong>€690</strong>Per Night</span>
					<div class="available-room-caption">
						<h3>Deluxe Suit</h3>
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span>BOOK NOW</span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
					</div>
				</a>
				<!-- End available-room-block -->
			</div>
			<!-- End Item -->

			<!-- Start Item -->
			<div class="item">
				<!-- Start available-room-block -->
				<a href="#" class="available-room-block" style="background-image: url('images/rooms/3.jpg');">
					<span><strong>€480</strong>Per Night</span>
					<div class="available-room-caption">
						<h3>Double Suit</h3>
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span>BOOK NOW</span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
					</div>
				</a>
				<!-- End available-room-block -->
			</div>
			<!-- End Item -->

			<!-- Start Item -->
			<div class="item">
				<!-- Start available-room-block -->
				<a href="#" class="available-room-block" style="background-image: url('images/rooms/4.jpg');">
					<span><strong>€229</strong>Per Night</span>
					<div class="available-room-caption">
						<h3>Single Suit</h3>
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span>BOOK NOW</span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
					</div>
				</a>
				<!-- End available-room-block -->
			</div>
			<!-- End Item -->

		</div>
		<!-- End available-room-owl -->
		<!-- Start more-btn-container -->
		<div class="more-btn-gp">
			<!-- Start book-now -->
			<a href="#" class="custom-btn custom-btn-dark">
				<i class="top-border"></i>
				<i class="left-border"></i>
				<span>View All</span>
				<i class="right-border"></i>
				<i class="bottom-border"></i>
			</a>
			<!-- End book-now -->
		</div>
		<!-- End more-btn-container -->
	</section>
	<!-- End available-room -->

	<!-- Start our-gallery -->
	<section class="our-activities section section-white our-gallery">
		<!-- Start container -->
		<div class="container">
			<!-- Start row -->
			<div class="row">
				<!-- Start col -->
				<div class="col-xs-12">
					<!-- Start section-header -->
					<div class="section-header section-header-light">
						<h2>OUR GALLERY</h2>
						<p>We provide the most luxurious services</p>
					</div>
					<!-- End section-header -->
				</div>
				<!-- End col -->
			</div>
			<!-- End row -->


			<!-- Start filter-button-group -->
			<ul class="filter-button-group">
				<li><button data-filter="*" class="all-filter-button">ALL</button></li>
				<li><button data-filter=".restaurant">RESTAURANT</button></li>
				<li><button data-filter=".bars">BARS</button></li>
				<li><button data-filter=".pool">POOL</button></li>
				<li><button data-filter=".rooms">ROOMS</button></li>
				<li><button data-filter=".lobby">LOBBY</button></li>
			</ul>
			<!-- End filter-button-group -->

		</div>
		<!-- End container -->
		<!-- Start grid -->
		<div class="grid">
			<div class="grid-item lobby">
				<!-- Start gallery-item -->
				<a href="images/gallery/1.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/1.png" alt="gallery alt images" class="img-responsive responsive-ratio">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item restaurant">
				<!-- Start gallery-item -->
				<a href="images/gallery/2.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/2.png" alt="gallery alt images" class="img-responsive responsive-ratio">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item grid-item--height2 bars">
				<!-- Start gallery-item -->
				<a href="images/gallery/3.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/3.png" alt="gallery alt images" class="img-responsive">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item pool">
				<!-- Start gallery-item -->
				<a href="images/gallery/4.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/4.png" alt="gallery alt images" class="img-responsive responsive-ratio">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item grid-item--height2 rooms">
				<!-- Start gallery-item -->
				<a href="images/gallery/5.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/5.png" alt="gallery alt images" class="img-responsive">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item rooms">
				<!-- Start gallery-item -->
				<a href="images/gallery/6.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/6.png" alt="gallery alt images" class="img-responsive responsive-ratio">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item">
				<!-- Start gallery-item -->
				<a href="images/gallery/7.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/7.png" alt="gallery alt images" class="img-responsive responsive-ratio">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item grid-item--height2 rooms">
				<!-- Start gallery-item -->
				<a href="images/gallery/9.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/9.png" alt="gallery alt images" class="img-responsive">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item grid-item--height2">
				<!-- Start gallery-item -->
				<a href="images/gallery/12.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/12.png" alt="gallery alt images" class="img-responsive">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item">
				<!-- Start gallery-item -->
				<a href="images/gallery/10.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/10.png" alt="gallery alt images" class="img-responsive responsive-ratio">
				</a>
				<!-- End gallery-item -->
			</div>

			<div class="grid-item">
				<!-- Start gallery-item -->
				<a href="images/gallery/8.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/8.png" alt="gallery alt images" class="img-responsive responsive-ratio">
				</a>
				<!-- End gallery-item -->
			</div>
			<div class="grid-item">
				<!-- Start gallery-item -->
				<a href="images/gallery/11.png" class="gallery-item dh-container">
					<!-- Start gallery-overlay -->
					<div class="gallery-overlay dh-overlay">
						<!-- Start zomm-in -->
						<div class="custom-btn">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<span><i class="fa fa-search-plus" aria-hidden="true"></i><p>Zoom In</p></span>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End zomm-in -->
					</div>
					<!-- End gallery-overlay -->
					<img src="images/gallery/11.png" alt="gallery alt images" class="img-responsive responsive-ratio">
				</a>
				<!-- End gallery-item -->
			</div>

		</div>
		<!-- End grid -->

		<!-- Start more-btn-container -->
		<div class="more-btn-gp">
			<!-- Start book-now -->
			<a href="#" class="custom-btn custom-btn-light">
				<i class="top-border"></i>
				<i class="left-border"></i>
				<span>View All</span>
				<i class="right-border"></i>
				<i class="bottom-border"></i>
			</a>
			<!-- End book-now -->
		</div>
		<!-- End more-btn-container -->
	</section>
	<!-- End our-gallery -->

	<!-- Start counter -->
	<section class="counter section parallax fullscreen background" data-img-width="1920" data-img-height="1064" data-diff="100" data-oriz-pos="100%" style="background-image: url(images/parallax/1.jpg);">

		<!-- start container -->
		<div class="container">
			<!-- Start counter-gp -->
			<div class="counter-gp">
				<!-- Start row -->
				<div class="row">
					<!-- Start col -->
					<div class="col-sm-3 col-xs-6">
						<!-- Start counter-block -->
						<div class="counter-block">
							<!-- Start counter-icon-number -->
							<div class="counter-icon-number">
								<strong>+</strong>
								<span class="counter-num">121</span>
							</div>
							<!-- End counter-icon-number -->
							<h4>New Friendships</h4>
						</div>
						<!-- End counter-block -->
					</div>
					<!-- End col -->
					<!-- Start col -->
					<div class="col-sm-3 col-xs-6">
						<!-- Start counter-block -->
						<div class="counter-block">
							<!-- Start counter-icon-number -->
							<div class="counter-icon-number">
								<strong>+</strong>
								<span class="counter-num">254</span>
							</div>
							<!-- End counter-icon-number -->
							<h4>Five Start Ratings</h4>
						</div>
						<!-- End counter-block -->
					</div>
					<!-- End col -->
					<!-- Start col -->
					<div class="col-sm-3 col-xs-6">
						<!-- Start counter-block -->
						<div class="counter-block">
							<!-- Start counter-icon-number -->
							<div class="counter-icon-number">
								<strong>+</strong>
								<span class="counter-num">430</span>
							</div>
							<!-- End counter-icon-number -->
							<h4>International Guests</h4>
						</div>
						<!-- End counter-block -->
					</div>
					<!-- End col -->
					<!-- Start col -->
					<div class="col-sm-3 col-xs-6">
						<!-- Start counter-block -->
						<div class="counter-block">
							<!-- Start counter-icon-number -->
							<div class="counter-icon-number">
								<strong>+</strong>
								<span class="counter-num">728</span>
							</div>
							<!-- End counter-icon-number -->
							<h4>Server Breakfast</h4>
						</div>
						<!-- End counter-block -->
					</div>
					<!-- End col -->
				</div>
				<!-- End row -->
			</div>
			<!-- End counter-gp -->
		</div>
		<!-- End container -->

	</section>
	<!-- End counter -->

	<!-- Start latest-offers -->
	<section class="our-activities section section-white latest-offers">
		<!-- Start container -->
		<div class="container">
			<!-- Start row -->
			<div class="row">
				<!-- Start col -->
				<div class="col-xs-12">
					<!-- Start section-header -->
					<div class="section-header section-header-light">
						<h2>LATEST OFFERS</h2>
						<p>We provide the most luxurious services</p>
					</div>
					<!-- End section-header -->
				</div>
				<!-- End col -->
			</div>
			<!-- End row -->


			<!-- Start  our-activities-owl-gp -->
			<div class="our-activities-owl-gp">
				<!-- Start slider arrows -->
				<div id="latest-offers-next" class="btn-next">
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</div>
				<div id="latest-offers-prev" class="btn-prev">
					<i class="fa fa-angle-left" aria-hidden="true"></i>
				</div>
				<!-- End slider arrows -->

				<!-- Start latest-offers-owl -->
				<div id="latest-offers-owl" class="owl-carousel">
					<!-- Start item -->
					<div class="item">
						<!-- Start latest-offers-block -->
						<a href="#" class="latest-offers-block">
							<!-- Start latest-offers-caption -->
							<div class="latest-offers-caption">
								<h3>Honeymoon Offer</h3>
								<p>Enjoy a luxurious Honeymoon dedicated to helping you unwind.</p>
							</div>
							<!-- End latest-offers-caption -->

							<!-- Start latest-offers-list -->
							<ul class="latest-offers-list">
								<li><span>- Flight Ticket</span></li>
								<li><span>- Restaurant ( Full Board )</span></li>
								<li><span>- Music Concert</span></li>
								<li><span>- Airport Pick-up</span></li>
								<li><span>- Sport Activities</span></li>
							</ul>
							<!-- End latest-offers-list -->

							<!-- Start latest-offers-note -->
							<div class="latest-offers-note">
								<span>
									Enjoy <br> With <br><strong>25%</strong><br> OFF
								</span>
							</div>
							<!-- End latest-offers-note -->

							<!-- Start learn-more -->
							<div class="custom-btn">
								<i class="top-border"></i>
								<i class="left-border"></i>
								<span><i class="fa fa-calendar" aria-hidden="true"></i>BOOK NOW</span>
								<i class="right-border"></i>
								<i class="bottom-border"></i>
							</div>
							<!-- End learn-more -->
							<img src="images/offers/1.png" alt="test" class="img-responsive">
						</a>
						<!-- End latest-offers-block -->
					</div>
					<!-- End item -->

					<!-- Start item -->
					<div class="item">
						<!-- Start latest-offers-block -->
						<a href="#" class="latest-offers-block">
							<!-- Start latest-offers-caption -->
							<div class="latest-offers-caption">
								<h3>Weekend Spa Offer</h3>
								<p>Enjoy a luxurious Honeymoon dedicated to helping you unwind.</p>
							</div>
							<!-- End latest-offers-caption -->

							<!-- Start latest-offers-list -->
							<ul class="latest-offers-list">
								<li><span>- Flight Ticket</span></li>
								<li><span>- Restaurant ( Full Board )</span></li>
								<li><span>- Music Concert</span></li>
								<li><span>- Airport Pick-up</span></li>
								<li><span>- Sport Activities</span></li>
							</ul>
							<!-- End latest-offers-list -->

							<!-- Start latest-offers-note -->
							<div class="latest-offers-note">
								<span>
									Enjoy <br>
With <br><strong>25% </strong><br>
OFF
								</span>
							</div>
							<!-- End latest-offers-note -->

							<!-- Start learn-more -->
							<div class="custom-btn">
								<i class="top-border"></i>
								<i class="left-border"></i>
								<span><i class="fa fa-calendar" aria-hidden="true"></i>BOOK NOW</span>
								<i class="right-border"></i>
								<i class="bottom-border"></i>
							</div>
							<!-- End learn-more -->
							<img src="images/offers/2.png" alt="test" class="img-responsive">
						</a>
						<!-- End latest-offers-block -->
					</div>
					<!-- End item -->
				</div>
				<!-- End latest-offers-owl -->
			</div>
			<!-- End our-activities-owl-gp -->

			<!-- Start more-btn-container -->
			<div class="more-btn-gp">
				<!-- Start book-now -->
				<a href="#" class="custom-btn custom-btn-light">
					<i class="top-border"></i>
					<i class="left-border"></i>
					<span>View All</span>
					<i class="right-border"></i>
					<i class="bottom-border"></i>
				</a>
				<!-- End book-now -->
			</div>
			<!-- End more-btn-container -->
		</div>
		<!-- End container -->
	</section>
	<!-- End latest-offers -->


	<!-- Start our-testimonials -->
	<section class="available-room section our-testimonials parallax fullscreen background" data-img-width="1920" data-img-height="1064" data-diff="100" data-oriz-pos="100%" style="background-image: url(images/parallax/2.jpg);">
		<!-- Start container -->
		<div class="container">
			<!-- Start row -->
			<div class="row">
				<!-- Start col -->
				<div class="col-xs-12">
					<!-- Start section-header-gp -->
					<div class="section-header-gp">
						<!-- Start section-header -->
						<div class="section-header">
							<h2>CUSTOMERS FEEDBACK</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
						</div>
						<!-- End section-header -->
						<!-- Start book-now -->
						<div class="custom-btn owl-available-room">
							<i class="top-border"></i>
							<i class="left-border"></i>
							<div class="custom-btn-arrows">
								<div id="our-testimonials-prev" class="top-btn-prev">
									<i class="fa fa-angle-left" aria-hidden="true"></i>
								</div>
								<div id="our-testimonials-next" class="top-btn-next">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</div>
							</div>
							<i class="right-border"></i>
							<i class="bottom-border"></i>
						</div>
						<!-- End book-now -->
					</div>
					<!-- End section-header-gp -->
				</div>
				<!-- End col -->
			</div>
			<!-- End row -->

	<!-- Start footer-contacts -->
	<section class="footer-contacts">
		<!-- Start container -->
		<div class="container">
			<!-- Start footer-contacts-gp -->
			<div class="footer-contacts-gp">
				<!-- Start footer-contacts-list -->
				<ul class="footer-contacts-list">
					<li>
						<span><i class="fa fa-map-marker" aria-hidden="true"></i> Location</span>
						<p>12 Lorem Ipsum is simply dummy text of the printing Street, Cairo, Egypt.</p>
					</li>
					<li>
						<span><i class="fa fa-phone" aria-hidden="true"></i> Phone</span>
						<p>+20 128 406 5814 | +20 128 406 5814</p>
					</li>
					<li>
						<span><i class="fa fa-envelope" aria-hidden="true"></i> Mail</span>
						<p>contact@oncloudeg.com</p>
					</li>
				</ul>
				<!-- End footer-contacts-list -->

				<!-- Start subscribe-gp -->
				<div class="subscribe-gp">
					<span class="subscibe-text">Subscribe To Our Newsletter</span>
					<div class="subscribe-form">
						<input type="text" name="" value="" placeholder="Put Your E-Mail Here ….">
						<button type="button" name="button"><i class="fa fa-check" aria-hidden="true"></i></button>
					</div>
					<!-- Start social -->
					<ul class="social">
						<li>
							<a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a>
						</li>
						<li>
							<a href="#"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
						</li>
						<li>
							<a href="#"><i aria-hidden="true" class="fa fa-rss"></i></a>
						</li>
					</ul>
					<!-- End social -->
				</div>
				<!-- End subscribe-gp -->
			</div>
			<!-- End footer-contacts-gp -->
		</div>
		<!-- End container -->
	</section>
	<!-- End footer-contacts -->
	<!-- Start footer-copyright -->
	<footer class="footer-copyright">
		<!-- Start container -->
		<div class="container">
			<!-- Start copyrights-content -->
			<div class="copyrights-content">
				<!-- Start copyrights-links -->
				<ul class="copyrights-links hidden-xs">
					<li>
						<a href="#">
							<i class="fa fa-paint-brush" aria-hidden="true"></i>
							<span>UI/UX Desgined by: Oncloudeg.com</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<span>Privacy</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-info-circle" aria-hidden="true"></i>
							<span>Terms</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-flag" aria-hidden="true"></i>
							<span>Advertising</span>
						</a>
					</li>
				</ul>
				<!-- End copyrights-links -->

				<!-- Start copyrights-text -->
				<span class="copyrights-text">Copyright © 2017. All Rights Reserved</span>
				<!-- End copyrights-text -->
			</div>
			<!-- End copyrights-content -->
		</div>
		<!-- End container -->
	</footer>
	<!-- End footer-copyright -->

  <!-- Start js -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/parallax.js"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/isotope.pkgd.min.js"></script>
  <script src="/javascripts/countTo.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script src="/javascripts/jquery.counterup.min.js"></script>
  <script src="/javascripts/jquery.directional-hover.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <!-- <script src="/stylesheets/jquery.directional-hover.min.css"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script src="/javascripts/steps-form.js"></script>
  <script src="/javascripts/custom.js"></script>
  <!-- End js -->
</body>
</html>
