<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<div class="container restDetailContainer">
		<div class="col-md-11">
			<!-- <img class="cover animated fadeInDown" src="../images/fs.jpg"> -->
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<div class="col-md-6 pictures">
				<img src="<%= restaurantInfo.image%>"  class="panel-body animated fadeInLeftBig" style="float:right;width:550px;">
			</div>
			<div class="col-md-6">
				<div id="ownsub" class="animated swing" style="font-family: 'Aladin', cursive;font-size: 40px;">
					<%= restaurantInfo.name %>
				</div>
				<div id="address">
					<a class="ui blue image label animated fadeInRightBig" style="font-size: 15px">
					  <i class="fa fa-map" aria-hidden="true"></i>&nbsp;
					  <%= restaurantInfo.address %>
					</a>
				</div>
				<div id="phone">
					<a class="ui image label animated fadeInRightBig" style="font-size: 13px;">
					  <i class="fa fa-phone" aria-hidden="true"></i>
					  <%= restaurantInfo.phone %>
					</a>
				</div>
				<div id="map" class="google map animated fadeInRightBig" style=";box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;"></div>
			</div>
			<br>
		</div>
		<!-- comment list display -->
		<div class="row col-md-9 col-md-offset-1 animated bounceInUp">
			<% if (commentList.length != 0) { %>
				<table class="table table-striped" style="border-radius: 20px;">
					<thead>
						<tr style="font-family: 'Antic Slab', serif; font-size: 20px">
							<th>Comments</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
						<% for (var i=0;i< commentList.length;i++){%>
							<tr>
								<td style="width: 550px;">
									<div class="ui stacked segment">
										<p style="font-family: 'Quicksand', sans-serif;"><%= commentList[i].content%></p>
									</div>
								</td>
								<td>
									<div class="ui huge star rating displayRating" data-rating="<%= commentList[i].rating%>">
										<% for (var j = 0; j < commentList[i].rating; j++) { %>
									  	<i class="icon active"></i>
									  <% } %>
									  <% for (var j = 0; j < 5 - commentList[i].rating; j++) { %>
									  	<i class="icon"></i>
									  <% } %>
									</div>
								</td>
							</tr>
						<% }%>
					</tbody>
				</table>
			<% } else { %>
				<div class="ui piled segment">
				  <h4 class="ui header">Comments</h4>
				  <p>There is no comment yet, be the first one to comment!</p>
				</div>
			<% } %>
		</div>
		<hr/>
		<!-- write comment -->
		<div class="row col-md-9 col-md-offset-1 animated bounceInUp">
			<span style="font-family: 'Antic Slab', serif; font-size: 25px">Leave your comment here</span>
			<br>
			<div class="ui huge star rating" id="myRating">
			  <i class="icon"></i>
			  <i class="icon"></i>
			  <i class="icon"></i>
			  <i class="icon"></i>
			  <i class="icon"></i>
			</div>
			<div class="ui form">
				<div class="ui piled segment">
			    <textarea id="txtComment" style="font-family: 'Quicksand', sans-serif; font-size: 15px;"></textarea>
			  </div>
			  <button class="btn btn-primary" id="btnSubmitComment" tag="<%= commentId%>">Submit</button>
			</div>
		</div>
	</div>

		<% include ../partials/footer%>
		<script>
		$('.ui.huge.star.rating').rating();
		var rating = 0;
		var map;
		var geocoder;
		var address = "<%= restaurantInfo.address %>";

		function initMap() {
			// Constructor creates a new map - only center and zoom are required.
			geocoder = new google.maps.Geocoder();
			// google.maps.LatLng 物件
			// var coord = new google.maps.LatLng({lat: 37.335187, lng: -121.881072});
			var coord = new google.maps.LatLng(address);

			map = new google.maps.Map(document.getElementById('map'), {
				// center: {lat: 37.335187, lng: -121.881072},
				zoom: 17
			});

			// 傳入 latLng 資訊至 geocoder.geocode
			// geocoder.geocode({'latLng': coord }, function(results, status) {
			// change address to latLng
			var image = {
				// see setting https://developers.google.com/maps/documentation/javascript/markers?hl=zh-tw
				url: 'https://www.javatpoint.com/images/javascript/javascript_logo.png',
				// This marker is 20 pixels wide by 32 pixels high.
				// size: new google.maps.Size(20, 32),
				// The origin for this image is (0, 0).
				// origin: new google.maps.Point(0, 0),
				// The anchor for this image is the base of the flagpole at (0, 32).
				// anchor: new google.maps.Point(0, 32)
			};

			geocoder.geocode({'address': address}, function(results, status) {
				if (status == 'OK') {
					map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
						map: map,
						position: results[0].geometry.location,
						animation: google.maps.Animation.DROP,
						// icon: image
					});
				} else {
					alert('Geocode was not successful for the following reason: ' + status);
				}
			});

			// marker.addListener('click', toggleBounce);
		}

		function toggleBounce() {
			if (marker.getAnimation() !== null) {
				marker.setAnimation(null);
			} else {
				marker.setAnimation(google.maps.Animation.BOUNCE);
			}
		}

		$(document).ready(function () {


			$("#btnSubmitComment").on("click", function () {
				//TODO: add user login
				var data = {
					content: $("#txtComment").val(),
					rating: rating,
					userId: "some_id",
					commentId: $(this).attr("tag")
				};
				$.post("/restDetail/addComment", data, function (result) {
					if (result.done) {
						showNotification("top", "center", "success", result.message);
						setTimeout(location.reload(), 3000);
					} else {
						showNotification("top", "center", "danger", result.message)
					}
				});

			});

			$("#myRating").rating('setting', 'onRate', function(value) {
		      rating = value;
		      console.log(rating);
		  });

		  $(".displayRating").rating('disable');


			function showNotification(from, align, type, message){
	      $.notify({
	        message: message
	      },{
	        type: type,
	        timer: 3000,
	        placement: {
	          from: from,
	          align: align
	        }
	      });
	    }
		})
		// marker.setMap(map);

		</script>


		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9X4b-bn6IjOnnJxtyAKQlRO8dF0iV00s&v=3&callback=initMap">
		</script>


	</body>
	</html>
