<html>
<head>
	<% include ../partials/head %>

	<style>
/* 	html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
} */
/*	#map {
		height: 300px;
		width: 500px;
	}*/
/* 	.row {
height: 10px;
margin: 10px 0 20px 0;
} */

	</style>
</head>
<body>
	<% include ../partials/nav %>
	<div class="container">
		<div>
				<img class="cover animated fadeInDown" src="../images/sf.jpg">
		</div>
		<div class="row title">
				<h1 id="ownsub" class="animated swing text-center"><%= restaurantInfo.name %></h1>
		</div>

		<div class="row restInfo">
			<div class="col-xs-6">
				<div id="map" class="google map"></div>
				<div id="address">
					<p><span class="glyphicon glyphicon-map-marker"></span> <%= restaurantInfo.address %></p>
				</div>
				<div id="phone">
					<p><span class="glyphicon glyphicon-phone"></span> <%= restaurantInfo.phone %></p>
					<!-- <%= restaurantInfo.name %> -->
				</div>
			</div>

			<div class="col-xs-6 pictures">
				<img src="<%= restaurantInfo.image%>"  class="panel-body" height="300">
			</div>
		</div>
		<!-- comment list display -->
		<div class="row col-md-8 col-md-offset-2 comments">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Comments</th>
						<th>Rating</th>
					</tr>
				</thead>
				<tbody>
					<% for (var i=0;i<commentList.length;i++){%>
						<tr>
							<td><%= commentList[i].content%></td>
							<td><%=commentList[i].rating%></td>

						</tr>
					<% }%>
				</tbody>
			</table>
		</div>  <!-- end comments list display -->
		<!-- write comment -->
		<div class="row col-md-6 col-md-offset-3">
			<div class="ui huge star rating">
			  <i class="icon"></i>
			  <i class="icon"></i>
			  <i class="icon"></i>
			  <i class="icon"></i>
			  <i class="icon"></i>
			</div>
			<form class="ui form">
				<div class="field">
			    <label>Leave your comment here</label>
			    <textarea id="txtComment"></textarea>
			  </div>
			  <button class="btn btn-primary" id="btnSubmitComment" tag="<%= commentId%>">Submit</button>
			</form>
		</div>
	</div>

		<% include ../partials/footer%>
		<script>
		var map;
		var geocoder;
		var address = "<%= restaurantInfo.address %>";

		function initMap() {
			// Constructor creates a new map - only center and zoom are required.
			geocoder = new google.maps.Geocoder();
			// google.maps.LatLng 物件
			// var coord = new google.maps.LatLng({lat: 37.335187, lng: -121.881072});
			var coord = new google.maps.LatLng(address);

			map = new google.maps.Map(document.getElementById('map'), {
				// center: {lat: 37.335187, lng: -121.881072},
				zoom: 17
			});

			// 傳入 latLng 資訊至 geocoder.geocode
			// geocoder.geocode({'latLng': coord }, function(results, status) {
			// change address to latLng
			var image = {
				// see setting https://developers.google.com/maps/documentation/javascript/markers?hl=zh-tw
				url: 'https://www.javatpoint.com/images/javascript/javascript_logo.png',
				// This marker is 20 pixels wide by 32 pixels high.
				// size: new google.maps.Size(20, 32),
				// The origin for this image is (0, 0).
				// origin: new google.maps.Point(0, 0),
				// The anchor for this image is the base of the flagpole at (0, 32).
				// anchor: new google.maps.Point(0, 32)
			};

			geocoder.geocode({'address': address}, function(results, status) {
				if (status == 'OK') {
					map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
						map: map,
						position: results[0].geometry.location,
						animation: google.maps.Animation.DROP,
						// icon: image
					});
				} else {
					alert('Geocode was not successful for the following reason: ' + status);
				}
			});

			// marker.addListener('click', toggleBounce);
		}

		function toggleBounce() {
			if (marker.getAnimation() !== null) {
				marker.setAnimation(null);
			} else {
				marker.setAnimation(google.maps.Animation.BOUNCE);
			}
		}

		$(document).ready(function () {
			$('.ui.rating').rating();

			$("#btnSubmitComment").on("click", function () {
				//TODO: add user login
				var data = {
					content: $("#txtComment").val(),
					rating: 5,
					userId: "some_id",
					commentId: $(this).attr("tag")
				};
				$.post("/restDetail/addComment", data, function (result) {
					if (result.done) {
						showNotification("top", "center", "success", result.message);
					} else {
						showNotification("top", "center", "danger", result.message)
					}
				});

			});

			function showNotification(from, align, type, message){
	      $.notify({
	        message: message
	      },{
	        type: type,
	        timer: 3000,
	        placement: {
	          from: from,
	          align: align
	        }
	      });
	    }
		})
		// marker.setMap(map);

		</script>


		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9X4b-bn6IjOnnJxtyAKQlRO8dF0iV00s&v=3&callback=initMap">
		</script>


	</body>
	</html>
