<!DOCTYPE html>
<html>
  <head>
	<title>Search Result Page</title>
	 <% include ../partials/head %>
  </head>
  <body>
	   <% include ../partials/nav %>
     <div class="container">
       <p> Search Result </p>
         <div class="panel panel-default">
           <div class="panel-heading">Panel Title</div>
           <div class="ui items">
            <div class="item">
              <div class="image">
                <img src="/images/wireframe/image.png">
              </div>
              <div class="content">
                <a class="header">Header</a>
                <div class="meta">
                  <span>Description</span>
                </div>
                <div class="description">
                  <p></p>
                </div>
                <div class="extra">
                  Additional Details
                </div>
              </div>
            </div>
                <div class="item">
                  <div class="image">
                    <img src="/images/wireframe/image.png">
                  </div>
                  <div class="content">
                    <a class="header">Header</a>
                    <div class="meta">
                      <span>Description</span>
                    </div>
                    <div class="description">
                      <p></p>
                    </div>
                    <div class="extra">
                      Additional Details
                    </div>
                  </div>
                </div>
            </div>
       </div>
     </div>



	   <% include ../partials/footer %>
  </body>
</html>
